vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP\\Stratos
vti_modifiedby:SR|THANOS-PC\\Θανάσης
vti_timelastmodified:TR|02 Jan 2015 15:54:15 -0000
vti_timecreated:TR|31 Oct 2014 14:46:26 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|bio.php index.php media.php quiz.php master.dwt comments.php news.php appearances.php
vti_nexttolasttimemodified:TW|02 Jan 2015 11:53:26 -0000
vti_cacheddtm:TX|02 Jan 2015 15:54:15 -0000
vti_filesize:IR|7861
vti_cachedlinkinfo:VX|Q|layout.css S|../fonts/MarioFont.eot S|../fonts/MarioFont.ttf S|../images/background.png S|../images/header.jpg S|../images/submit.png
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|fonts/MarioFont.eot FSUS|fonts/MarioFont.ttf FSUS|images/background.png FSUS|images/header.jpg FSUS|images/submit.png
